.score-list {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  background-color: #6e3b0090;
  padding: 2vh;
  border-radius: 10px;
  color: white;
}

.score-list h1 {
  font-size: 4vh;
}

.table-wrapper {
  max-height: 40vh; /* Define el alto máximo */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.table-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
}

.score-list table {
  width: 100%;
  border-collapse: collapse;
}

.score-list thead th {
  padding: 1.5vh;
  background-color: #814c00;
}

.score-list tbody tr:nth-child(even) {
  background-color: #6e3b0050;
}

.score-list tbody tr td {
  padding: 1.5vh;
  font-size: 4vh;
}

.current-score {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.score-list button {
  margin-top: 5vh;
  padding: 3vh 5vh;
  font-size: 3vh;
  cursor: pointer;
  background-color: #814c00;
  color: white;
  border-radius: 5px;
}

.score-list button:hover {
  background-color: #6e3b00;
}

@media screen and (orientation: portrait) {
  .board {
    display: none;
  }

  header {
    display: none;
  }

  .start-container {
    display: none;
  }

  .score-list {
    display: none;
  }

  .message-movil {
    display: block;
    margin: 2vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #6e3b0090;
    border: 1px solid black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    font-size: 4vh;
    color: white;
    text-align: center;
    line-height: 1.9;
    margin-top: 45%;
  }
}
